.categories {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include vp-1439 {
      display: grid;
      grid-template-columns: 185px 204px 220px;
      gap: 16px 50px;
    }
  }

  &__link {
    outline: none;
    display: flex;
    gap: 16px;
    align-items: center;
    color: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }
}
